/* Here I will need to implement horizontal alignment of the website */
* {
    max-width: auto;
    max-height: 500px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
/* Testing selectors here */
h1 {
    color: white;
}
/* This one is "class" connected */
.introduction {
    font-weight: bold;
}
/* This one is connected to the "id" */
#expectations {
    color: red;
    border: 2px solid;
}
img {
    height: 2000px;
    width: 1500px;
}
