/* Here I will need to implement horizontal alignment of the website */
* {
    max-width: auto;
    max-height: 500px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
/* Testing selectors here */
h1 {
    color: white;
}
/* This one is "class" connected */
.introduction {
    font-weight: bold;
}
/* This one is connected to the "id" */
#expectations {
    color: red;
    border: 2px solid;
}
img {
    max-height: 500px;
    margin: auto;
}
/* This example shows, that on small "rank" we have a selector.
First goes id which is # in CSS. Then comes class which is period in the CSS world.
Then goes type selectors which is written as they are like "p" from CSS to HTML is <p></p> */
.tools_and_background,
.the_purpose_of_the_website {
    display: flexbox;
    flex-direction: column;
}
/* This is an example of chaining selectors together into something new.*/
.interpretation#steps_of_production {
    align-items: center;
}
